*{
    margin: 0;
    padding: 0;
}
body{
    width:90%;
    margin: 0px auto;
    text-align: center;
    font-family:sans-serif;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-marco-hojas-tropicales-oscuro-realista_23-2148403261.jpg");    
}
main{
    top: 50%;
    left: 50%;
    text-align: left;
    position: absolute;  
    transform: translate(-50%, -50%);    
    
    display: grid;    
    grid-template-columns: 150px 150px;
}
div{
    text-align: center;
    border-radius: 5px;    
    border:1px solid yellowgreen;      
    
    background-repeat: no-repeat;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/977/146/non_2x/natural-realistic-green-and-gold-palm-leaf-tropical-background-illustration-free-vector.jpg");
}
h1{   
    padding: 0.5em;
    margin-top: 8em;
    font-size: 16px;
    letter-spacing: 0.2em;
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1px greenyellow;    
}
.formulari{
    margin-top: 1em;
    display:grid;
    grid-template-columns: 2fr;
    gap: 1em;
}
form{    
    width:100%;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px -2px green;
    border:1px solid yellowgreen;   
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/977/146/non_2x/natural-realistic-green-and-gold-palm-leaf-tropical-background-illustration-free-vector.jpg");
}
label{    
    display:block;      
    margin-top: 1em;
    margin-bottom:0.5em;
    
    font-size: 12px;
    letter-spacing: 0.2em;
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1px greenyellow;  
}
input{    
    display:block;
    
    width:60%;
    margin: 0px auto;
    
    border:none;    
    color: pink;
    outline: none;
    font-size: 10px;
    text-align: left;
    margin-bottom: 1.5em;
    background-color: transparent;
    border-bottom: 1px solid greenyellow;
    box-shadow: 0px 1px green;
}
input[type="number"]{
    -moz-appearance:textfield;
    text-align:center;
}
input[type="submit"]{
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;    
    text-align: center;
    border-radius: 5px;
    border-bottom: none;
    
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1.5px greenyellow; 
}
input[type="submit"]:hover{   
    -webkit-text-fill-color: green;
    -webkit-text-stroke: 1.5px pink;
}