*{
    margin:0;
    padding:0;
}
body{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    font-family:sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-marco-hojas-tropicales-oscuro-realista_23-2148403261.jpg");
}
main{
    top: 50%;
    left:50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%); 
    
    display: grid;
    grid-template-rows: auto auto auto;
}
h1,p{   
    letter-spacing: 0.2em;
    -webkit-text-fill-color: pink;    
    -webkit-text-stroke: 1.5px green;    
}
h1{
    margin-bottom: 1em;
}
p{
    font-size: 16px; 
    font-family: monospace;
    -webkit-text-fill-color: greenyellow;    
    -webkit-text-stroke: 1.5px pink;    
}
a{
    display: block;
    margin-top: 2em;
    
    letter-spacing: 0.1em;
    text-decoration: none;
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1.5px greenyellow;   
}
a:hover{
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1.5px pink; 
}
