/* 
    Created on : 02-abr-2021, 18:11:12
    Author     : rulo-79
*/
*{
    margin: 0;
    padding: 0;
}
body{
    width:90%;
    margin: 0px auto;
        
    text-align: center;
    font-family: sans-serif;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;    
    background-image: url("https://image.freepik.com/vector-gratis/fondo-marco-hojas-tropicales-oscuro-realista_23-2148403261.jpg");
}
h1{    
   top: 50%;
   left: 50%;
   text-align: center;
   position: absolute;  
   transform: translate(-50%, -50%);
}
a{  
    cursor:pointer;   
    font-size: 14px;    
    font-weight: bolder;
    text-decoration: none;  
    -webkit-text-fill-color: green;
    -webkit-text-stroke: 1px white;    
}
a:hover{
    -webkit-text-fill-color: pink;
    -webkit-text-stroke: 1px white;    
}

