/* 
    Created on : 03-abr-2021, 12:42:42
    Author     : rulo-79
*/
*{
    margin: 0;
    padding: 0;
}
body{
    width:90%;
    margin: 0px auto;    
    
    font-family: sans-serif;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-marco-hojas-tropicales-oscuro-realista_23-2148403261.jpg");
}
main{
     top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;  
    transform: translate(-50%, -50%);    
    
    display: grid;        
}
h1{ 
    margin-bottom: 1em;
    
    font-weight: bolder;
    text-decoration: none;  
    
    -webkit-text-fill-color: green;
    -webkit-text-stroke: 1px white;    
}
figure{
    text-align: center;
}
figure img{
    width: 25%;
    border-radius: 50%;   
    border: 4px solid yellowgreen;
}
ol{
    padding: 1em;
    margin-top: 1.5em;    
    
    text-align: left;
    list-style-type: none;
    
    border-radius: 5px;
    box-shadow: 2px -2px green;
    border:1px solid yellowgreen;    
}
ol li{        
    padding: 1em;
    
    font-size: 12px;
    letter-spacing: 0.2em;
    -webkit-text-fill-color: pink;    
    -webkit-text-stroke: 1px pink;  
}
ol p{
    display: inline;
    margin-right: 1em;
    -webkit-text-fill-color: green;    
    -webkit-text-stroke: 1px greenyellow; 
}
ul{
    padding: 1em;
    margin-top: 1.5em;
    text-align: left;
    list-style-type: none;
}
ul li{
    margin-right: 1em;
    display: inline;
}
a{    
    margin-top: 1em;
    font-size: 24px;
    
    letter-spacing: 0.1em;
    text-decoration: none;
    -webkit-text-fill-color: green;
    -webkit-text-stroke: 1px white;   
}
a:hover{
    -webkit-text-fill-color: pink;    
    -webkit-text-stroke: 1px white; 
}

